doctype
html
    head
        title Plant Nursery
        style
            include ../static/style.css
        <link href=" https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
        link(rel="shortcut icon", href="../static/image/logo.png", type="image/x-icon" )

    body
        section#main
            h1 Welcome to World of Plants
            p Every flower is a soul blossoming in nature
               
        nav#nevbar
            img(src="../static/image/logo.png", alt="logo image")
            ul
                li #[a(href="/") Home] 
                li #[a(href="/plants") Plants] 
                    ul
                        li #[a(href="/flowerplants") FlowerPlants]
                        li #[a(href="/fruitplants") FruitPlants]
                        li #[a(href="/vegetableplants") VegetablePlants]
                li #[a(href="/gardtool") Gardening Tools] 
                li #[a(href="/fertilizer") Fertilizers] 
        
        section#second
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nemo ipsa, rem esse corporis ipsum natus dicta adipisci dolorum placeat, nobis quam enim iure voluptate quae. Officia enim deleniti culpa minus doloremque? Animi quam cum, sed laboriosam eveniet quos sint? Excepturi animi, quos necessitatibus modi illum debitis ut eos asperiores hic voluptatem in, ipsum soluta odit? Dolore, a totam asperiores perferendis, et atque ad sapiente pariatur repellendus expedita quaerat ducimus odit rem omnis voluptate architecto quisquam maiores in autem culpa, doloremque quis nulla! Est sed, esse explicabo maxime, ab maiores dicta magni blanditiis, a nihil ratione nam reiciendis sunt? Possimus laudantium facilis eos harum id quasi, ab fuga quis reprehenderit inventore quos dolorem quibusdam perspiciatis tempore hic, animi, deserunt iusto molestiae itaque saepe facere in quam eius? Consequatur non, ipsam aliquid itaque minus similique illum nulla doloribus magnam quia voluptas harum accusantium illo possimus ipsa, sunt et? Commodi eos cumque nam, veniam deserunt in officiis ea corrupti tempora neque cum, laborum animi natus molestiae impedit amet illo sit quis qui iste mollitia dignissimos? Pariatur laboriosam harum iusto. Facere quidem fugit magni eos vitae corrupti libero tempore nisi modi quae praesentium ratione, neque architecto doloremque illum! Doloremque minus ab similique voluptas! Consectetur, quam. Natus sit nesciunt magnam soluta, tenetur explicabo doloribus molestias est iure quae laboriosam iusto optio quibusdam minima eligendi deserunt quas eveniet aliquid. Nemo quae repudiandae aut doloribus, earum asperiores nostrum minus perferendis itaque ea! Optio exercitationem incidunt consequuntur explicabo sit nam nulla, hic eaque repellat est rem, consequatur saepe similique amet quae nostrum, commodi nemo laudantium doloribus accusamus illum quaerat. Earum modi rem minus repellat vel nostrum debitis dignissimos ipsa. Nesciunt, repudiandae eveniet harum alias quidem voluptatum at. Consequuntur, temporibus nulla cupiditate tempora distinctio eius laborum ex voluptate, dignissimos ipsa facere dolor perferendis voluptatem id sequi modi quia explicabo natus sint illo eum commodi repellendus minima! In reiciendis error ipsa ex neque laudantium. Aperiam perspiciatis dignissimos deleniti, molestiae vel aspernatur numquam et deserunt esse neque aliquid consequatur omnis necessitatibus minima voluptas tempore quos quae, cupiditate ab explicabo fugit modi facere inventore ipsa! Architecto, blanditiis inventore? Tempora cupiditate quidem iste dignissimos. Provident exercitationem reprehenderit asperiores a aliquid quaerat error iste ullam deserunt doloribus cum placeat, doloremque beatae hic illum temporibus laudantium dolor veritatis in cupiditate iure, corporis blanditiis quae nam! Nihil mollitia possimus amet sint nesciunt, facilis natus? Doloribus quia sed in voluptate sit provident repellendus architecto inventore at porro dignissimos mollitia animi nemo, officia quo veritatis cumque nisi aliquam ex molestias aspernatur! Illo aut provident praesentium similique tempora voluptatem, eveniet modi distinctio perferendis fuga id quae non architecto, quod deserunt nihil sit! Illo porro obcaecati cum rem totam, in aut pariatur deleniti magni repellat iste provident quia minus nisi magnam reprehenderit, sed similique quo corporis dolorum. Numquam, asperiores! Odio repudiandae excepturi pariatur incidunt sapiente consequuntur nihil voluptate iste recusandae, repellat perspiciatis eum quibusdam exercitationem reprehenderit praesentium adipisci reiciendis voluptatum totam iusto cupiditate molestiae autem quam repellendus doloribus? Doloribus iusto non a maxime aliquid architecto ab autem sequi voluptatibus! Totam dolorum, excepturi voluptatem illum sint perspiciatis doloribus cumque esse, dolorem molestiae iste repellat molestias blanditiis minima accusamus quia quis! Recusandae eos reiciendis quia architecto? Aut natus, magni eum, officiis modi nam explicabo debitis, alias minima recusandae iusto quasi similique rem veritatis ad. Quo nulla quidem porro veritatis velit ea mollitia numquam corrupti, esse dolorem labore at consequuntur recusandae repellat delectus laborum facilis maiores neque officiis nihil sequi minima iste? Amet, aperiam quaerat labore repellat rerum ea nisi, porro nobis sequi quos possimus ab modi id beatae facilis reprehenderit ipsam saepe cumque nostrum, officia quia optio. Deleniti adipisci numquam ea quasi, veniam assumenda facere dignissimos molestiae libero, veritatis aliquam excepturi cupiditate quis accusamus optio nulla tempore minima tempora itaque dicta eaque fuga. Commodi laborum, sequi, a aliquam minima consequuntur eveniet dolor quos nisi repudiandae harum facilis at iure aspernatur quas nulla nobis aut adipisci. Ipsa porro, eos dignissimos velit natus dolore cum accusamus fugiat provident odit, alias est quas molestiae repudiandae ex deserunt? Qui, nobis? Facere aut suscipit aperiam ullam quibusdam? Odio molestias enim possimus, cum at dicta quae, mollitia praesentium et, quidem voluptatibus ex. Aliquid perferendis magni eum perspiciatis possimus quam unde nobis optio voluptatem. Dignissimos reprehenderit quae assumenda enim, illum culpa quos hic maiores expedita aperiam, adipisci voluptas deserunt vel, dicta natus ipsum suscipit labore nemo obcaecati eaque officia ab blanditiis beatae. Asperiores repellendus ut dicta neque eaque maiores, molestias commodi voluptate explicabo ipsa fuga tenetur, corporis odio soluta deleniti dolorum numquam vitae corrupti similique distinctio? Vitae ratione error corrupti obcaecati porro nam doloremque debitis perferendis esse eligendi, ipsum officia molestiae? Labore minima dolores modi amet saepe aspernatur enim, est adipisci suscipit quis, rerum voluptatum maiores dolorem perspiciatis nobis, quisquam incidunt atque. Vel, dolores amet dicta incidunt consequatur excepturi adipisci officiis obcaecati enim veritatis voluptate. Ea, ab optio!
            
        footer#footer
            div.div#f
                h2.h2 Quick links
                ul 
                    li #[a(href="/flowerplants") FlowerPlants]
                    li #[a(href="/fruitplants") FruitPlants]
                    li #[a(href="/vegetableplants") VegetablePlants]
                    li #[a(href="/gardtool") Gardening Tools] 
                    li #[a(href="/fertilizer") Fertilizers]

            div.div#s
                h2.h2 Contact
                h4 plantNursery@gmail.com
                h4 (+91)6352080200

            div.div#t
                h2.h2 Chat With Us
                input(type="text" name="name" placeholder="enter name here" class="t")
                textarea(name="suggestions", cols="10", rows="2" placeholder="Suggestions for us" class="t")
                button
                    | submit
